{% extends "base.html" %}
{% block content %}

<div class="content animate-panel">

<div>

    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    {{ title }}
                </div>
                <div class="panel-body">
                <form method="get" class="form-horizontal">
                <div class="form-group"><label class="col-sm-2 control-label">Name</label>

                    <div class="col-sm-10"><input type="text" class="form-control" id="name" name="name" value="{{ item.name }}"></div>
                </div>

		        <div class="hr-line-dashed"></div>
		        <div class="form-group"><label class="col-sm-2 control-label">Available {{ service }}s</label>

		            <div class="col-sm-10"><select class="form-control m-b" name="config_id" id="config_id">
						<option value="">Select</option>	
						{% for row in item.services_list %}					
						<option value="{{ row['config_key'] }}" {% if "{}".format(row['config_key']) == item.id %}selected{% endif %}>{{ row['name'] }}</option>
						{% endfor %}					            
		            </select>
		            </div>
		        </div>       

		        <div class="hr-line-dashed"></div>
		        <div class="form-group"><label class="col-sm-2 control-label">Interval type</label>

		            <div class="col-sm-10"><select class="form-control m-b" name="interval_type" id="interval_type">
				    	<option value="">Select</option>	    		    	
						{% for row in item.interval_types %}
						<option value="{{ row[0] }}" {% if row[0] == item.interval_type %}selected{% endif %}>{{ row[1] }}</option>
						{% endfor %}				            
		            </select>
		            </div>
		        </div>      

		        <div class="hr-line-dashed"></div>
		        <div class="form-group"><label class="col-sm-2 control-label">Interval value</label>

		            <div class="col-sm-10"><select class="form-control m-b" name="interval_value" id="interval_value">
				    	<option value="">Select</option>	    		    	
						{% for row in item.interval_values %}
						<option value="{{ row[0] }}" {% if row[0] == "{}".format(item.interval_value) %}selected{% endif %}>{{ row[1] }}</option>
						{% endfor %}				            
		            </select>
		            </div>
		        </div>     

		        <div class="hr-line-dashed"></div>
		        <div class="form-group"><label class="col-sm-2 control-label">Date from</label>
		        	<div class="col-sm-10">
		                <div class="input-group date" id="datetimepicker">
		                        <span class="input-group-addon">
		                            <span class="fa fa-calendar"></span>
		                        </span>
		                    <input type="text" class="form-control" id="datetime" value="{{ mil_to_date(item['next_execution']) }}"/>
		                </div>
	                </div>
                </div>		         		        		                 

                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-2">
                        <button class="btn btn-default" type="submit">Cancel</button>
                        <button class="btn btn-primary" type="submit" id="button">{{ btn_txt}}</button>
                    </div>
                </div>
                </form>
                </div>                
            </div>
        </div>
	</div>                

	<script>
	    $(function(){
	    	$("#schedule{{ service }}").addClass("active");
	    	// DateTimePicker
            $('#datetimepicker').datetimepicker({
    			format: 'DD-MM-YYYY HH:mm'
			});

	      	$(".btn-primary").click( function() {
		      	  var name = $("#name").val();    
		      	  var config_id = $("#config_id");
		          var config_id_selected =  $(':selected', config_id).attr("value");
				  var interval_type = $("#interval_type");
		          var interval_type_selected =  $(':selected', interval_type).attr("value");	  
				  var interval_value = $("#interval_value");
		          var interval_value_selected =  $(':selected', interval_value).attr("value");                          	          
		          var date_from = $("#datetime").val();

		          if (name && config_id_selected && interval_type_selected && interval_value_selected && date_from) { // require a VALUE
		              window.location.replace("/{{ function }}?id={{ item._id }}&name="+name+"&interval_type="+interval_type_selected+"&interval_value="+interval_value_selected+"&date_from="+date_from+"&config_id="+config_id_selected); // redirect
		          } else {
		          	  alert("Please, it is mandatory to fill all fields");
		          }

		          return false;
	      	});

	      	$(".btn-default").click( function() {
	      		if (window.confirm('Are you sure you want to cancel?')) {
	      			window.location.replace("/schedule_list");
	      		} else {
	      			event.preventDefault();	      			
	      		}
	      		return false
	      	});	      	
	    });
	</script>    

{% endblock %}