{% extends "base.html" %}
{% block content %}

    <h2>Select a {{ service }} or create a new one</h2>
    <p>
	    <table border="1">	    	
    	<tr>
			<td>Name</td>		
			<td>Interval</td>
			<td>Next execution</td>
			<td>Last execution</td>
			<td>Edit</td>
			<td>Delete</td>
			<td>Execute now</td>
		</tr>    	    
	    {% for item in items %}    		
	    	<tr>
    			<td>{{ item.name }}</td>		
    			<td>{{ mil_to_time(item.interval) }}</td>
    			<td>{{ mil_to_date(item.next_execution) }}</td>
    			<td>{{ mil_to_date(item.last_execution) }}</td>
    			<td><a href="javascript:void(0);" onClick="edit('{{ item._id}}');">Edit</a></td>
				<td><a href="javascript:void(0);" onClick="del('{{ item._id}}');">Delete</a></td>
    			<td><a href="javascript:void(0);" onClick="exec('{{ item._id}}')">Execute now</a></td>    			
    		</tr>    			
	    {% endfor %}    
	    </table>   
	</p>

    <p>
    	<input id="newbutton" class="ui-button" value="Create new schedule">
    </p>    

	<script>
		$(function(){
	      $("#newbutton").click( function() {
              window.location.replace("/schedule_new_{{ service }}"); // redirect
	          return false;
	      });
	    });	   

		function edit(id) {
			window.location.replace("/schedule_edit_{{ service }}?id="+id); // redirect
			return false;
		}		

		function del(id) {
			window.location.replace("/schedule_delete_{{ service }}?id="+id); // redirect
			return false;
		}

		function exec(id) {
			alert("Not written yet")
		}


	</script>    

{% endblock %}